---
# vi: ts=2 sw=2 et:

name: Build test
on: [pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ toJSON(matrix.env) }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        env:
          - {
              TYPE: "default",
              CFLAGS: ""
            }
          - {
              TYPE: "asan+ubsan",
              CFLAGS: "-fsanitize=address,undefined",
              ASAN_OPTIONS: "strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:abort_on_error=1",
              UBSAN_OPTIONS: "print_stacktrace=1:print_summary=1:halt_on_error=1"
            }
          - {
              TYPE: "clang",
              CC: "clang",
              CFLAGS: ""
            }
          - {
              TYPE: "clang+asan+ubsan",
              CC: "clang",
              CFLAGS: "-fsanitize=address,undefined",
              ASAN_OPTIONS: "strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:abort_on_error=1",
              UBSAN_OPTIONS: "print_stacktrace=1:print_summary=1:halt_on_error=1"
            }
    env: ${{ matrix.env }}
    name: ${{ matrix.env.TYPE }}
    steps:
      - name: Repository checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install gcc libglib2.0-dev libffi-dev meson clang

      - name: Build
        run: |
          meson build
          ninja -C ./build -v
          ./build/dfuzzer -V
          ./build/dfuzzer --version
          ./build/dfuzzer -s -l
          ./build/dfuzzer --no-suppressions --list
          sudo ninja -C ./build install

      - name: Test
        run: |
          set -ex
          # Test as an unprivileged user (short options)
          dfuzzer -v -n org.freedesktop.systemd1
          # Test as root (long options + duplicate options)
          sudo dfuzzer --verbose --bus this.should.be.ignored --bus org.freedesktop.systemd1
          # Test logdir
          mkdir dfuzzer-logs
          dfuzzer --log-dir dfuzzer-logs -v -n org.freedesktop.systemd1
          # Test a non-existent bus
          if sudo dfuzzer --log-dir "" --bus this.should.not.exist; then false; fi
          # Test object & interface options
          dfuzzer -v --bus org.freedesktop.systemd1 --object / --interface org.freedesktop.DBus.Peer
          sudo dfuzzer -v --bus org.freedesktop.systemd1 --object / --interface org.freedesktop.DBus.Peer
          # - duplicate object/interface paths
          dfuzzer -v --bus org.freedesktop.systemd1 --object xxx --object yyy --object / --interface org.freedesktop.DBus.Peer
          dfuzzer -v --bus org.freedesktop.systemd1 --object xxx --object yyy --object / --interface zzz --interface org.freedesktop.DBus.Peer
          # - test error paths
          if dfuzzer -v --bus org.freedesktop.systemd1 --object aaa; then false; fi
          if dfuzzer -v --bus org.freedesktop.systemd1 --interface aaa; then false; fi
