---
# vi: ts=2 sw=2 et:

name: Build test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ toJSON(matrix.env) }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        env:
          - {
              TYPE: "default",
              CFLAGS: "-Werror"
            }
          - {
              TYPE: "asan+ubsan",
              CFLAGS: "-Werror -fsanitize=address,undefined",
              ASAN_OPTIONS: "exitcode=42:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:abort_on_error=1",
              UBSAN_OPTIONS: "exitcode=42:print_stacktrace=1:print_summary=1:halt_on_error=1"
            }
          - {
              TYPE: "clang",
              CC: "clang",
              CFLAGS: "-Werror"
            }
          - {
              TYPE: "clang+asan+ubsan",
              CC: "clang",
              CFLAGS: "-Werror -fsanitize=address,undefined",
              ASAN_OPTIONS: "exitcode=42:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:abort_on_error=1",
              UBSAN_OPTIONS: "exitcode=42:print_stacktrace=1:print_summary=1:halt_on_error=1"
            }
          - {
              TYPE: "valgrind",
            }
    env: ${{ matrix.env }}
    name: ${{ matrix.env.TYPE }}
    steps:
      - name: Repository checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install docbook-xsl gcc libglib2.0-dev xsltproc meson clang valgrind

      - name: Build
        run: |
          set -ex
          meson setup --fatal-meson-warnings --werror -Ddfuzzer-test-server=true build
          ninja -C ./build -v
          sudo ninja -C ./build install

      - name: Test
        run: .github/workflows/run-tests.sh
  coveralls:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Repository checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install docbook-xsl gcc libglib2.0-dev xsltproc meson lcov

      - name: Build
        run: |
          set -ex
          meson setup --fatal-meson-warnings --werror -Ddfuzzer-test-server=true -Db_coverage=true build
          ninja -C ./build -v
          sudo ninja -C ./build install

      - name: Test
        run: |
          set -ex
          .github/workflows/run-tests.sh
          lcov --directory . --capture --initial --output-file coverage.info.initial
          lcov --directory . --capture --output-file coverage.info.run --no-checksum --rc lcov_branch_coverage=1
          lcov -a coverage.info.initial -a coverage.info.run --rc lcov_branch_coverage=1 -o coverage.info.raw
          lcov --extract coverage.info.raw "$(pwd)/*" --rc lcov_branch_coverage=1 --output-file coverage.info

      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: ./coverage.info
          format: lcov
  freebsd:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-freebsd
      cancel-in-progress: true
    steps:
      - name: Repository checkout
        uses: actions/checkout@v5
      - uses: cross-platform-actions/action@v0.29.0
        with:
          operating_system: 'freebsd'
          version: '14.3'
          architecture: 'x86_64'
          run: |
            set -ex
            sudo mount -t procfs proc /proc
            sudo pkg install -y dbus git glib meson pkgconf polkit
            meson setup --fatal-meson-warnings --werror build
            ninja -C build -v
            ninja -C build test
            sudo ninja -C build install
            sudo service dbus onestart
            dfuzzer -l
            # properties are skipped to get around https://github.com/polkit-org/polkit/issues/506
            # they can be turned on when polkit is bumped to 126
            dfuzzer -v --skip-properties -n org.freedesktop.PolicyKit1
