---
name: Coverity

on:
  schedule:
    # Run Coverity daily at midnight
    - cron:  '0 0 * * *'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'dbus-fuzzer/dfuzzer'
    env:
      COVERITY_SCAN_TOKEN: "${{ secrets.COVERITY_SCAN_TOKEN }}"
    steps:
      - name: Repository checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install gcc libglib2.0-dev meson libdbus-1-dev

      - name: Run Coverity
        run: .github/workflows/coverity.sh
